header a, header a:hover {
  text-decoration:none;
}
body {
  padding-top: 0.5em;
}
nav {
  text-align:center;
  padding-left: 0;
  margin-left: 0;
}
nav ul {
  padding:0;
  margin: 0;
}
nav li {
  list-style: none;
  display:inline;
  padding-right: 0.5em;
}

#main_area {
  padding: 0.5em;
  margin-top: -0.75em;
  background-color: #cdf;
  border-radius: 5px;
  -moz-border-radius: 5px;
  min-height: 20em;
}
footer {
  font-size: 0.5em;
  text-align: left;
}
article {
  display: table;
  margin: auto;
  display: inline-block;
  *display:inline; /* ie7 fix */
  float: none;
  text-align: center;
  padding-bottom:20px;
}
h1 {
  text-align: center;
}
#guess form {
  margin: 5px auto;
}
#guess a {
  text-align: center;
}
table {
  margin-top: 0.5em;
}
table th {
  text-align:center;
}
table td{
  text-align:center;
}
.alert {
  margin-top: -0.75em;
}
.thumbnail{
  margin-top: 0.5em;
  margin-left: 0.5em;
  margin-right: 0.5em;
  text-align:center;
  display: inline-block;
  *display:inline; /* ie7 fix */
  float: none;
  border: 3px solid indigo;
}
.thumbnail img{
  max-width:95%; 
  max-height:255px;
  padding-top: 0.5em;
}
.max {
  width: 400px;
}
.back p {
  font-weight:bold;
}
.back p.left{
  text-align:left;
}
.back p.right{
  text-align:right;
}
  
.back h3 {
  font-weight:bold;
  text-decoration:underline;
}
.card-container{
  text-align:left;
  display: inline-block;
  *display:inline; /* ie7 fix */
  float: none;
  margin-left:0.5em;
  margin-right:0.5em;
  margin-top: 0.5em;
  margin-bottom:0.5em;
}
div.thumbnail div p{
  text-align:justify;
}
div.thumbnail div p.normal {
  font-weight:normal;
}
div.thumbnail.back div {
  margin:0.25em 0.25em 0.25em 0.25em;
  padding:0.25em 0.25em 0.25em 0.25em;
  max-width:100%;
  max-height:100%;
}

